services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: fastapi-backend
    ports:
      - "8000:80"
    depends_on:
      - db
    env_file:
      - ./.env
    volumes:
      - ../backend/app:/code/app
    restart: unless-stopped

  db:
    image: mysql:8.0
    env_file:
      - ./.env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    restart: unless-stopped

volumes:
  mysql_data:
