:root{
    --primary-color: #615544;
    --dark-primary-color: #514637;
    --secondary-color: #919191;
    --shadow: drop-shadow(3px 3px 4px #acacac);
    --hover-shadow: drop-shadow(0px 0px 2px #5c5c5c);
    --card-bg: #ffffff;
    --text-main: #1a1a1a;
    --text-muted: #666666;
    --accent-success: #00c853;
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.hero-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 0.5;
    z-index: 1;
}
.backgroundImage{
    object-fit: cover;
    height: 100%;
}